.count {
  font-size: 34px;
  line-height: 45px;
  padding-left:20px;
  font-weight:500;
}

.ball {
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;

  &.front {
    background: #ff2d51;
  }

  &.back {
    background: #1685a9;
  }
}

.virtual-table-cell {
  padding: 4px 8px;
  text-align: center;
}

::-webkit-scrollbar {
  background: #f7f7f9;
  width: 6px;  /* 纵向滚动条滑块宽度 */
  height: 6px; /* 横向滚动条滑块宽度 */
}

::-webkit-scrollbar-track-piece { /*滚动条背景颜色*/
  background: #f7f7f9;
}

::-webkit-scrollbar-thumb { /* 滑块 */
  border-radius: 6px;
  background: #bfbfbf;
}

.card-icon {
  width:45px;
  height:45px;
  /* vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
}

.attr-label {
  color:rgba(0,0,0,.45);
  & span{
    color:#333;
    /* font-size: px; */
  }
}
